.Nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1rem;
    width: 100%;
    height: 4.1rem;
    background-color: rgba(255, 255, 255, 0.95);
    color: rgb(83, 83, 83);
    box-shadow: 2px 0 4px;
    display: flex;
    justify-content: flex-end;
    ul {
        list-style: none;
        margin: 0 1rem 0 0;
        li {
            display: inline-block;
            background-color: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.3);
            padding: 0.2rem 0.6rem 0.23rem;
            margin: 0.3rem;
            border-radius: 4px;
            // box-shadow: 1px 0 3px gray;
            cursor: pointer;
            transition: 500ms;
            font-size: 0.9rem;            
        }
        li:hover {
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
        }
        .Company {
            cursor: none;
            border: none;
            font-weight: bold;
        }
        .Company:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }    
}
.Active {
    color: rgba(0, 0, 0, 0.3);    
    cursor: not-allowed !important;
}

@media(max-width: 760px) {
    .Nav {
        display: block;
        position: static;
        background-color: transparent;
        box-shadow: none;
        ul {
            padding: 0;
            margin: 0;
            li {
                display: block;
                font-size: 1.1rem;
                color: rgba(255, 255, 255, 0.8);
                margin-bottom: 0.8rem;
                background-color: rgba(2, 3, 3, 0.45);
                padding: 0.3rem;
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
                border: 1px solid rgba(255, 255, 255, 0.6);
            }
            li:hover {
                background-color: rgba(2, 3, 3, 0.5);
                box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
            }
        }
        .Active {
            color:  rgba(2, 3, 3, 0.85);
        }
        .Company {
            color: rgba(2, 3, 3, 0.65);
            background-color: transparent;
            box-shadow: none;
        }
    }    
}