<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Tomasz Cybulski">
    <meta name="description" content="System kontroli zużycia paliwa dla firm transportowych. Normy spalania od wagi ładunku. Efektywność prowadzenia pojazdów ciężarowych online.">
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">  --}}
    <title>System kontroli zuzycia paliwa. Efektywność jazdy online.</title>
    <link rel="icon" type="image/png" href="/img/icon2.png">
   <script type="text/javascript" src="/js/isIE.js"></script>
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123265178-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123265178-1');
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "url": "https://www.40ton.online",
  "name": "System kontroli zużycia paliwa",
  "description" :"Dla firm transportowych, gdzie istotna jest szczegółowa kontrola kosztów wynikających z efektywnego sposobu prowadzenie pojazdów."  
}
</script>