<link rel="stylesheet" href="/css/driver.css">
</head>
<body>
<div id="nrDrivers" class="driverInput logInDriver">
    <div class="label">Obsada</div>
    <div>
		<button id="single">Pojedyńcza obsada</button>
		<button id="double">Podwójna obsada</button>
	</div>
</div>

<div id="logDriver" class="hidden driverInput" >
    <div class="label">Logowanie kierowcy</div>
    <div>
    	<input type="text" name="driverId" placeholder="Identyfikator kierowcy">
    </div>
    <div>
        <button class="backDriver">Cofnij</button>
        <button class="checkDriver">Zatwierdź</button>
        <hr>
    </div>
    <div>
    	<input type="text" name="truckId" placeholder="Numer pojazdu">
	</div>
	<div>
		<button class="checkTruck" disabled="disabled">Zatwierdź</button>
	</div>
    <hr>
    <div id="logDriverMsg" class="label"></div>
</div>
    <div>
        <ul name="driverId2" class="hidden">
            Po rozpoczęciu trasy należy:
            <li>Ustalić któremu z kierowców będzie przypisana pierwsza trasa.</li>
            <li>Czynności typu załadunek lub rozładunek wpisuje wybrany kierowca.</li>
            <li>Przy tankowaniu do pełna wpis czynności dokonuje ten sam kierowca i następnie wybiera z menu "Zakończenie okresu".</li>
            <li>Teraz następuje zmiana kierowcy dokonującego zapis czynności trasy.</li>
            <li>Po następnym tankowaniu do pełna aktualny kierowca wybiera "Zakończenie okresu" i następuje kolejna zmiana osoby dokonującej wpisy czynności trasy.</li>
    </ul>
    </div>
<div id="logInDriver" class="hidden driverInput logInDriver">   
    <div id="driver_logInDriver" class="label"></div>
    <div>
    	<button id="load">Załadunek</button>
		<button id="unload">Rozładunek</button>
		<button id="fuel">Tankowanie</button>
		<button id="periodEnd">Zakończenie okresu</button>
		<button id="lastRoute">Edytuj ostatni wpis</button>
        <button id="logOut">Wyloguj</button>
		<hr>
	</div>
    <div class="label" id="truck_logInDriver"></div>
</div>

<div id="loadDriver" class="hidden">
    <form id = "loadForm" class="driverInput">
    	<div class="label">Załadunek</div>
    	<div>
    		<div>Data</div>
    		<input type="date" name="data" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
    	</div>
    	<div>
            <div>Stan licznika</div>
            <input type="number" name="km" min="0" required>
        </div>
    	<div>
            <div>Ile ton załadowano</div>
            <input type="number" name="ton" min="0" required>
        </div>
    	<div>
            <input type="text" name="country" placeholder="Kraj" autocomplete='country-name' required>
        </div>
    	<div>
            <input type="text" name="postal" placeholder="Kod pocztowy" required>
        </div>
		<div>
			<button id="backladDriver">Cofnij</button>
			<button id="sendloadDriver">Zatwierdź</button>
		</div>
	</form>
</div>

<div id="unloadDriver" class="hidden">
    <form id = "unloadForm" class="driverInput">
        <div class="label">Rozładunek</div>
        <div>
            <div>Data</div>
            <input type="date" name="data" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        </div>
        <div>
            <div>Stan licznika</div>
            <input type="number" name="km" min="0" required>
        </div>
        <div>
            <div>Po rozładunku zostało (ton)</div>
            <input type="number" name="ton" min="0" required>
        </div>
        <div>
            <input type="text" name="country" placeholder="Kraj" autocomplete='country-name' required>
        </div>
        <div>
            <input type="text" name="postal" placeholder="Kod pocztowy" required>
        </div>
        <div>
            <button id="backunladDriver">Cofnij</button>
            <button id="sendunloadDriver">Zatwierdź</button>
        </div>
    </form>
</div>

<div id="fuelDriver" class="hidden">
    <form id = "fuelForm" class="driverInput">
        <div class="label">Tankowanie</div>
        <div>
            <div>Data</div>
            <input type="date" name="data" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        </div>
        <div>
            <div>Stan licznika</div>
            <input type="number" name="km" min="0" required>
        </div>
        <div id="fuelDriverTon" class="hidden">
            <div>Waga ładunku</div>
            <input type="number" name="ton" min="0">
        </div>
        <div>
            <div>Ile litrów zatankowano</div>
            <input type="number" name="litres" min="0" required>
        </div>
        <div>
            <input type="text" name="country" placeholder="Kraj" autocomplete='country-name' required>
        </div>
        <div>
            <input type="text" name="postal" placeholder="Kod pocztowy" required>
        </div>
        <div>
            <div id="fuelDriverQues">Czy tankowanie do pełna</div>
            <select name="full">
                <option value="1">Tak</option>
                <option id="fuel_0" value="0">Nie</option>
            </select>
        </div>
        <div>
            <button id="backfuelDriver">Cofnij</button>
            <button id="sendfuelDriver">Zatwierdź</button>
        </div>
    </form>
</div>

<div id="periodEndDriver" class="hidden">
    <form id = "periodEndForm" class="driverInput">
        <div class="label">Zakończenie okresu</div>
        <div>
            <div>Data</div>
            <input type="date" name="data" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        </div>
        <div>
            <div>Stan licznika</div>
            <input type="number" name="km" min="0" required>
        </div>
        <div>
            <div>Waga ładunku (ton)</div>
            <input type="number" name="ton" min="0" required>
        </div>
        <div>
            <input type="text" name="country" placeholder="Kraj" autocomplete='country-name' required>
        </div>
        <div>
            <input type="text" name="postal" placeholder="Kod pocztowy" required>
        </div>
        <div>
            <button id="backperiodEndDriver">Cofnij</button>
            <button id="sendperiodEndDriver">Zatwierdź</button>
        </div>
    </form>
</div>

<div id="changeDriver" class="hidden">
    <form id = "changeForm" class="driverInput">
        <div class="label">Zmiana kierowcy</div>
        <div>
            <div>Data</div>
            <input type="date" name="data" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        </div>
        <div>
            <div>Stan licznika</div>
            <input type="number" name="km" min="0" required>
        </div>
        <div>
            <div>Waga ładunku (ton)</div>
            <input type="number" name="ton" min="0" required>
        </div>
        <div>
            <input type="text" name="country" placeholder="Kraj" autocomplete='country-name' required>
        </div>
        <div>
            <input type="text" name="postal" placeholder="Kod pocztowy" required>
        </div>
        <div>
            <button class="hidden"></button>
            <button id="sendchangeDriver">Zatwierdź</button>
        </div>
    </form>
</div>

<input type="hidden" name="_csrf" value="{{csrfToken}}">

<div id="lastRouteDisp" class="hidden">
    <br>
    <hr>
    <div>Ostatni wpis pojazdu</div>
    <ul id="lastRouteUl"></ul>    
</div>

{{#if env}}
    <script src="/js/driver.js"></script>
{{else}}
    <script src="/js/driver.min.js"></script>
{{/if}}