<link rel="stylesheet" href="/css/activation.css">
</head>
<body>
<div class="container">
	<div class="page-header">
	    <h4 id="message"></h4>	   
	    <a href="/system/owner">Dziękujemy za dokonanie zakupu naszych usług - Powrót do systemu</a>	   
	</div>
</div>