.ChoiceLang {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    transition: 1s;
    
    img {
        margin: 0 1rem;
        cursor: pointer;
    }
}
.ChoiceLang:hover {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .ChoiceLang {
        opacity: 0.9;
    }
}