.Header {
    width: 100%;
    height: 85vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;    
    background-image: url('../../../assets/img/motorway_trucks.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}