.Modal {
    position: fixed;
    z-index: 500;
    background-color:rgba(255, 255, 255, 0.9);
    width: 80%;   
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.3);
    padding: 15px 30px;
    left: 10%;
    top: 10%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px;   
    transition: all 0.5s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}