.Main {
    padding: 2rem;
    border: 1px solid green;   
    .Row {
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1px 0 8px rgba(0, 0, 0, 0.1);
        padding-right: 1.5rem;
        // border-radius: 15px;
    }
}

.Cookies {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    height: 4rem;
    padding: 1rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
    z-index: 500;
}

.Hand {
    position: absolute;
    background: url("../../../assets/img/hand.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    width: 100%;
    height: 300px;
}
.Phone_pl {
    position: absolute;
    background: url("../../../assets/img/screenPhone_pl.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    width: 100%;
    height: 300px;
    opacity: 0.3;
    transition: 1s;
}
.Phone_es {
    position: absolute;
    background: url("../../../assets/img/screenPhone_es.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    width: 100%;
    height: 300px;
    opacity: 0.3;
    transition: 1s;
}
.HandPhone_pl:hover .Phone_pl {
	opacity: 1;
}
.HandPhone_es:hover .Phone_es {
	opacity: 1;
}