.Menu {
    display: flex;
    height: 92vh;    
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    padding: 2rem 0.7rem 0 0.3rem;
    background-color: #001529;    
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}