@font-face {
   font-family: Montserrat;
   src: url(../fonts/Montserrat-Regular.woff);
}

* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
a {
	text-decoration: none;
	font-weight: 600;
	cursor: pointer;
	color: #7F7F7F;
}
.hidden {
	display: none;
}
.page-header {
	max-width: 900px;
	margin: 20px auto;
	border: 1px solid #A28585;
	padding: 5px 20px 40px 30px;
	border-radius: 8px;
	box-shadow: 5px 5px 8px #A28585;
	color: #705a5a;
	text-align: center;
	line-height: 30px;
}