/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');*/
/*	*/

@font-face {
   font-family: Montserrat;
   src: url(../fonts/Montserrat-Regular.woff);
}
* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%	
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	margin-top: 3%;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 1.9rem;
	font-weight: 700;
}
h3 {
	font-size: 1.6rem;
	font-weight: 600;
}
h5, small {
	font-size: 1.1rem;
}
p, span {
	font-size: 1.4rem;
}
small {

}
.stop-scroll {
	height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2%;
}
.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
#langChoice {
	position: absolute;
	margin: 0 auto;
	z-index: 1000;
	width: 100%;
	height: 100vh;
	background-color: white;
	text-align: center;
	overflow: hidden;
}

#langChoice img {
	margin-top: 30vh;
	cursor: pointer;
	padding: 3rem;	
}

#writeSigns {
	margin:20px auto;
	text-align: center;
	width: 80%;
	font-size: 0.8rem;
}
#writeSigns p{
	font-size: 1.1rem;
}
header {
	position: relative;
	height: 20vw;
	margin-bottom: 1%;
}

.textContainer {	
	width: 50vw;
	height: 100%;
	position: absolute;
	left: 0;	
	background-color: #2C0F0F;
	color: #A28585;
}
.textBlock {
	position: absolute;
	top: 25%;
	left: 35%;	
}

.carouselText {
	display: none;
}
.carouselText h2 {
	font-size: 4vw;
	font-weight: 300;
	margin: 0;
}
#carousel {	
	position: absolute;	
	right: 0;
	width: 50vw;
	height: 100%;
	background-color: #2C0F0F;		
}
.cage {
	position: absolute;
	height: 100%;
	width: 30vw;	
	overflow: hidden;
}

.img-container img {
	position: absolute;
	top: 0;
	left: 50vw;
	height: 20vw;
	overflow: hidden;
}

#points {
	padding: 0;
	position: absolute;
	left: 40vw;
	top:80%;
}
#points li {
	display: inline-block;
	width: 1vw;
	height: 1vw;
	border: 1px solid #A28585; 
	border-radius: 50%;
	cursor: pointer;
	background-color: transparent;
}
#points li.active {
	background-color: #A28585;
}
/*------------------end of carousel*/

.navLeft {
	margin-top: 25px;
	-webkit-flex-basis: 40%;
	    -ms-flex-preferred-size: 40%;
	        flex-basis: 40%;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	color: #705a5a;
}

.navLeft *{
	margin-top: 0;
}

.desc:after {	
	content: "";
    width: 0;
    height: 0;
    margin: 5px;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #9B1616 transparent transparent transparent;
	position: absolute;
}

.asc:after {	
	content: "";
    width: 0;
    height: 0;
    margin: 5px;
    border-style: solid;
    border-width: 0 5px 10px 5px;;
    border-color: transparent transparent #9B1616 transparent;
	position: absolute;
}

.navRight {
	margin-top: 30px;
	-webkit-flex-basis: 60%;
	    -ms-flex-preferred-size: 60%;
	        flex-basis: 60%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.navRight * {
	color: #A28585;
	margin-top: 0;
	cursor: pointer;
	font-size: 1.6rem;
}
.navRight p:hover {
	color: #8A3F3F;
}

#demo {
	color: red;	
	font-weight: bold; 
}
#demo_2 {
	cursor: pointer;
}

.hidden {
	display: none;
}
.regLog {
	max-width: 1200px;
	margin: 20px auto;
	border: 1px solid #A28585;
	padding: 5px 20px 40px 30px;
	border-radius: 8px;
	box-shadow: 5px 5px 8px #A28585;
	color: #705a5a;
}
.regLog strong {
	margin: 10px 0;
}

input {
	min-width: 150px;
}

textarea {
	width: 95%;
}
.permission {
	padding: 15px 25px 10px 10px;
}
#sendData {
	display: inline-block;
	float: right;
	padding: 2px 5px;
	margin: 20px;
	box-shadow: 1px 1px 2px #A28585;
	color: #A28585;
}
#sendData:hover {
	color: #000000;
}

.upload {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;	
	opacity: 0.8;
	background-color:#ffffff;
	text-align: center;
	padding-top: 250px;
	z-index: 100;
}
#upload {
	width: 196px;
	height: 196px;
}

.error {
	border: 2px solid #2C0F0F;
}
#chPsw {
	cursor: pointer;
}

#messDiv {
	position: absolute;
	top: 500px;
	left: 35%;
	width: 30%;
	background-color: #F4F4F4;	
	border: 1px solid #A28585;
	padding: 30px;
	text-align: center;
	border-radius: 8px;
	box-shadow: 5px 5px 10px #A28585;
	z-index: 500;
	line-height: 30px;
}
input {
	margin: 5px 9px 5px 0;
	padding: 2px;	
}
[type="checkbox"] {
	min-width: auto;
}

section {
	margin-top: 45px;
	width: 100%;	
}
.secBannerFirstRight,
.secBannerSecondLeft,
.secFirstLeft,
.secSecondRight,
.secThirdLeft,
.secFifthRight {
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
	text-align: justify;	
}
.secBannerFirstRight article,
.secBannerSecondLeft article,
.secFirstLeft article,
.secSecondRight article,
.secThirdLeft article,
.secFifthRight article {
	font-weight: 300;
	font-size: 1.4rem;
	padding-right: 20px;
	line-height: 2.5rem;
	color: #705a5a;
}
.secBannerFirstRow,
.secBannerSecondRow,
.secFirstRow,
.secSecondRow,
.secThirdRow,
.secFifthdRow  {
	position: relative;
}
.secBannerFirstLeft img,
.secBannerSecondRight img,
.secFirstRight img,
.secSecondLeft img,
.secThirdRight img {
	height: 0px;	
	position: absolute;
	-webkit-transition: 900ms;
	        transition: 900ms;
}
.imgTriggerBanner_first, .imgTrigger_first, .imgTrigger_second, .imgTrigger_third {
	cursor: pointer;
	display: inline-block;
	text-align: right;
	float: right;
	font-size: 1.5em;
	color: #A28585;
}

.secBannerFirstRow {
	padding-top: 5rem;
}

.secBannerFirstLeft {
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
	/*height: 265px;*/
	width: 90%;
	background: url("../img/Nie_efektywne_prowadzenie_pojazdu.jpg");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: left;	
}
.secBannerFirstRight article {
	padding: 0 2rem;
	line-height: 2.5rem;
	padding-bottom: 1rem;
}

.secBannerFirstRight article h3 {
	margin-top: 0;
}
.secBannerSecondLeft article {
	padding: 2rem 0;
	line-height: 2.5rem;
	/*text-align: center;*/
}
.secBannerSecondRight {
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
	height: 265px;
	background: url("../img/Nie_efektywne_prowadzenie_pojazdu.jpg");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: right, bottom;
}
.secBannerSecondLeft article h2 {
	color: green;
}
hr {
	margin-top: 3rem;
}
.secFirstRight {
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
	height: 250px;
	background: url("../img/Wykres utrzymanie normy obliczanej dla wagi ladunku.jpg");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: right;	
	-webkit-transition: 900ms;	
	        transition: 900ms;
}
div.imgTrigger_first:hover img {
	height: 421px;
	z-index: 200;
	box-shadow: 5px 5px 12px #A28585;
}
.secSecondLeft {
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
	height: 265px;
	background: url("../img/Wykres efektywnosci pojazdow ciezarowych.jpg");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: left;
}
.imgTrigger_second {
	float: left;
}

div.imgTrigger_second:hover img {
	height: 465px;
	z-index: 200;
	box-shadow: 5px 5px 12px #A28585;
}

.secThirdRight {
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
	height: 265px;
	background: url("../img/Wykres srednie realne zuzycie paliwa w stosunku do normy obliczanej od wagi ladunku.jpg");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: right;
}

div.imgTrigger_third:hover img {
	height: 451px;
	z-index: 200;
	box-shadow: 5px 5px 12px #2C0F0F;
}
.divider {
	height: 1px;
	background-image: linear-gradient(90deg, transparent , #2C0F0F);
	margin-top: 35px;
}
.dividerLeft {
	height: 1px;
	background-image: linear-gradient(90deg,  #2C0F0F, transparent);
	margin-top: 35px;
}
section.gratis{
	background-color: #2C0F0F;
	margin: 40px 0 60px 0;
	padding: 0;
	box-shadow: 0 5px 10px #A28585;
}

.secFourthLeft {
	-webkit-flex-basis: 100%;
	    -ms-flex-preferred-size: 100%;
	        flex-basis: 100%;	
	color: #A28585;
	font-size: 3.5em;
	background: url("../img/Kontrola zuzycia paliwa.jpg");
	height: 180px;
	background-repeat: no-repeat;
	background-size: contain;	
}
.secFourthLeft p {
	margin: -5px;
	text-align: right;
	line-height: 180px;
	font-size: 4rem;
}
.secFourthLeft strong {
	font-size: 9.9rem;
}
.secFifthLeft {
	-webkit-flex-basis: 60%;
	    -ms-flex-preferred-size: 60%;
	        flex-basis: 60%;
	position: relative;
}
.secFifthLeft .hand {
	position: absolute;
	background: url("../img/hand.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left;
	width: 100%;
	height: 322px;
}
.secFifthLeft .phone {
	position: absolute;
	background: url("../img/screenPhone.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left;
	width: 100%;
	height: 322px;
	opacity: 0.3;
	-webkit-transition: 1s;
	        transition: 1s;
}

.secFifthLeft:hover .phone {
	opacity: 1;
}

section.price{
	background-color: #A28585;
	margin: 40px 0;
	padding: 0;
	margin-top: 77px;
	box-shadow: 0 8px 18px #2C0F0F;
}
.secSixtLeft {
	-webkit-flex-basis: 100%;
	    -ms-flex-preferred-size: 100%;
	        flex-basis: 100%;	
	color: #2C0F0F;
	font-size: 3.5em;
	line-height: 180px;
	background: url("../img/Sukces finansowy firmy transportowej.jpg");
	height: 180px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;	
}
.secSixtLeft p {
	margin: 0;
	text-align: left;
	font-size: 3.5rem;
}
.secSixtLeft strong {
	font-size: 12rem;}

.footLeft, .footRight {
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
	padding: 20px 40px 20px 0;
	color: #705a5a;
	line-height: 2.5rem;
	font-weight: 400;	
	text-align: justify;
	font-size: 1.4rem;
}

.footRight {
	padding: 20px 0 0 100px;	
}

.footRight p {
	margin-top: 0;	
}
.footRight strong, .footLeft strong {
font-weight: 700;
}


footer {	
	height: 180px;
	margin-bottom: 30px;	
}
.footerLeft {
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
	line-height: 2.5rem;
	padding: 2px;
}

.footerLeft .adrLine {
	font-size: 1.2rem;
}

.footerRight {
	-webkit-flex-basis: 50%;
	    -ms-flex-preferred-size: 50%;
	        flex-basis: 50%;
	background-image: url("../img/dotpay_logo_napisPL.png");
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}
footer h5 {
	text-align: right;
}
#poliBtn, #regulBtn{
	cursor: pointer;
}
#poliBtn {
	margin-left: 60px;
}
#polityka, #regulamin {
	line-height: 20px;
	font-size: 0.8em;
}
.divertFooter {
	margin: 10px auto;
}
#regulamin, #polityka {
	margin-top: 5px;
}

@media (max-width: 992px) {

	html {
		font-size: 92.5%
	}
	body {
		margin-top: 7vw;
	}
	.row {
		display: block;
		text-align: center;
	}

	header {
	position: relative;
	height: 37vw;	
	}

	article, p {
		font-size: 1rem !important;
	}


	.regLog {
		width: 98vw;
	}

	.textContainer {	
		width: 100vw;
		height: 12vw;
		background-color: transparent;
	}
	.textBlock {		
		position: static;
		color: #705a5a;;
	}
	.carouselText {		
		text-align: center;
		padding: 2.5vw 0;	
	}
	.carouselText h2 {
		font-size: 6.3vw;
		font-weight: 700;
	}
	#carousel {			
		top: 12.5vw;
		width: 100vw;
		height: 53.057vw;
		
	}
	.cage {		
		width: 80vw;	
		left:10vw;
	}
	.img-container img {		
		left: 50vw;
		height: 53.057vw;		
	}

	#points {
		display: none;
	}

	.systemNawigation {
		margin-top: 40vw;
	}
	form input {
		display: block;
		width: 90vw;
		height: 5vw;
		font-size: 3.8rem;
		padding: 35px 30px;
		margin: 30px 5px;
	}

	[value="Zaloguj"], [value="Wyślij"] {
		height: 8vw;
		padding: 15px;
	}
	form small {
		font-size: 2rem;
	}
	textarea {
		font: 2rem;
	}
	.desc:after {
		margin: 0.5vw 0 0 2vw;
		border-width: 2vw 1vw 0 1vw;
	}
	.asc:after {
		border-width: 0 10px 20px 10px;
	}

	#sendData {
		text-align: center;
		float: none;
		margin: 20px 0;
	}
	.secBannerFirstRight,
	.secBannerSecondLeft,
	.secFirstLeft,
	.secSecondRight,
	.secThirdLeft,
	.secFifthRight,
	.footLeft,
	.footRight,
	#regulamin,
	#polityka {
		padding: 30px 40px;
	}

	article h3{
		text-align: center;
	}
	.dividerMobile {
		display: block;
	}
	.notMobile {
		display: none;
	}
	.imgTrigger_first, .imgTrigger_second, .imgTrigger_third {
		display: none;
	}
	.secBannerFirstRight,
	.secBannerSecondRight,
	.secFirstRight,
	.secSecondLeft,
	.secThirdRight {
		background-size: 100%;
		background-position: center;
		margin: 40px 0;
	}
	.secBannerFirstLeft, .secBannerSecondRight {
		height: 420px;
		width: 100%;
		background-position: center;
	}
	.secFourthLeft, .secSixtRow {
		margin: 80px 0;
		padding: 0 40px;
	}
	.secFifthLeft .phone {
		position: static;
		height: 80vw;
	}
	.secFifthLeft .hand {
		height: 80vw;	
	}
	.footLeft p, .footRight p, .footerLeft p {
		font-size: 1.1rem;
	}
	div.footerLeft p, div.footerLeft span {
		font-size: 2.2rem;	
	}
	.footerRight {
		display: none;
	}
	#regulamin,	#polityka {
		padding-top: 7rem;
	}
	#regulamin p, #polityka p {
		font-size: .9rem;
	}
	#messDiv {	
	left: 10%;
	width: 80%;
	border-radius: 8px;
	box-shadow: 5px 5px 10px #A28585;
	z-index: 1500;
	line-height: 50px;
	}
	#messDiv p, #messDiv button {
		font-size: 3rem !important;
		line-height: 5rem;
	}
}
