/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');*/

@font-face {
   font-family: Montserrat;
   src: url(../fonts/Montserrat-Regular.woff);
}
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.row {
	margin: 15px 5px;
}
[name="norm"], [name="consum"] {
	width: 60px;
	margin-right: 10px;
}
label{
	font-size: 12px;
	margin-right: 10px;
}
input, select, button{
	margin: 7px 2px;
	font-size: 0.9em;
	padding: 0 4px;	
}
h2 {
	color: red;
}
.hidden {
	display: none;
}

.error {
	border: 2px solid #FF6767;
}
.btn-default {
	background-color: #f5f5f5;
}
.upload {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;	
	opacity: 0.8;
	background-color:#ffffff;
	text-align: center;
	padding-top: 250px;
	z-index: 1000;
}
#upload {
	width: 196px;
	height: 196px;
}

#messDiv {
	position: absolute;	
	left: 30%;
	width: 40%;
	background-color: #FBFBFB;	
	border: 1px solid #E7E7E7;
	padding: 30px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 5px 5px 10px gray;
	z-index: 1500;
}
#messDiv.lower {
	top: 500px;
}
#messDiv p {
	text-align: left;
}
.desc:after {	
	content: "";
    width: 0;
    height: 0;
    margin: 5px;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #705a5a transparent transparent transparent;
	position: absolute;
}

.asc:after {	
	content: "";
    width: 0;
    height: 0;
    margin: 5px;
    border-style: solid;
    border-width: 0 5px 10px 5px;;
    border-color: transparent transparent #705a5a transparent;
	position: absolute;
}
#hideOrders {
	margin: 2%;
	float: right;
}

#messageTrucks h3, #messageDrivers h3 {
	color: red;
}
#collapseNine {
	height: 400px;
	overflow-y: auto;
}

[name="trucksArrSel"], #manualRoutesDiv {
	margin: 20px;
}
#manualRoutesDiv [name="tonIn"] {
	min-width: 200px;
}

.footer {
	margin: 100px 0;
}
#perm {
	display: none;
}
.tabContainer {
	padding: 0;
}
#routesTable {
	font-size: 12px;
}
#routesTableMenu {
	background-color: #E2DFDF;
	padding-right: 40px;
	margin-bottom: 10px;
	border-bottom: 1px solid #716F6F;
	border-top: 1px solid #716F6F;
	text-align: right;
}

#routesTableMenu input {
	margin-right: 15px;
}
#tableEnd {
	color:#FFF;
	background-color: #676666;
	padding: 5px 15px;
	font-size: 11px;
}
.toPdf {
	float: right;
}

@media print {
	body * { visibility: hidden; }
	#messDiv {	
		border: 2px solid black;
		left: 10px;
		top: 10px;
		position: absolute; 
		visibility: visible; }
	#messDiv button {visibility: hidden; }
	#messDiv * {
		font-size: 0.8em;
		visibility: visible;
	}
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
            transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}