
h3 {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px #D8D8D8 solid;
    line-height: 1;
    font-weight: normal;
    color: #666666;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid #E5E5E5;
}

table th,
table td {
    padding: 5px 20px;
    text-align: left;
}
table tr {
    border-bottom: 1px #D8D8D8 solid 
}

table th {
    padding: 10px 15px;
    border-right: 1px #595959 solid;
    background-color: #424242;
    position: relative;
    color: #E2E2E2;
}
table td {
    border-right: 1px solid #E5E5E5;
}
#total {
    text-align: right;
    background-color: #2C0F0F;
    padding: 5px 20px;
    color: #E2E2E2;
    font-weight: 600;
}
#paySubmit {
/*    margin-left: 80%;
    margin-top: 15px; */   
    -webkit-transition: 500ms;   
            transition: 500ms;
    cursor: pointer;
}
#paySubmit:hover {
    -webkit-filter: grayscale(0.3);
            filter: grayscale(0.3);
   -webkit-transform: scale(1.03);
       -ms-transform: scale(1.03);
           transform: scale(1.03);
}
p#hidePay {
    text-align: right;
    font-size: 1.1em;
    cursor: pointer;
}
.redText {
    color: red;
    font-weight: 600;   
}
small {
    margin: 0 8px;
    font-size: 1em;
    line-height: 1.6;   
}
#pay_accept {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
#pay_accept p{
    -webkit-flex-basis: 80%;
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%;
    padding: 20px;
}
#pay_accept div{
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%;
    padding: 20px;
    text-align: right;
}